@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5{
    font-family: "Merriweather",serif;
}
h2{
    font-size: 1.2rem;
}

html,body{
    font-family: "Source Sans Pro",serif;
    color: white;
    font-weight: 300;

}
select, option{
    border: none;
    overflow-x: hidden;
}
#navbar{
    color: white;
    background-color:#1d1d1d;
}
input,select{
    background-color: #1d1d1d;
    color: white;
}
a{
    text-decoration: none;
    cursor: pointer;
}
.cards{
    /* display: flex;  */
    /* flex-wrap: wrap; */
    /* justify-content: start; */
    /* align-items: start; */
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 1rem; 
}
.card-wrapper{
    grid-column: span 3;
    background: #1d1d1d;
    margin: 10px;
    height: 15rem;
    border-radius: 15px;
}

.my-card{
    width: 100%;
    transition: transform .6s;
    transform-style: preserve-3d;
    cursor: pointer;
    height: 80%;
}
.card-links{
    border-top: 1px solid rgba(223, 222, 222, 0.171);
}
.front, .back{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    backface-visibility: hidden;
}


.back{
    transform: rotateY(180deg);
    margin-top: -8rem;
    overflow-y: hidden;
}

.decks{
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-gap: 1rem;
}
.deck{
    grid-column: span 3;
    background: #1d1d1d;
    max-height: 15rem;
    /* width: 20rem; */
    cursor: pointer;    
}

.search{
    min-height: 100vh;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: -2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


#practice,#create,#deckCards{
    min-height: 93vh;
}





@media (max-width:767px){
    .card-wrapper{    
        grid-column: span 12;
    }
    .deck{
        grid-column: span 12;
    }
}

@media (min-width:765px){
    .card-wrapper{    
        grid-column: span 6;
    }
    .deck{
        grid-column: span 6;
    }
}

@media(min-width:900px){
    .card-wrapper{  
        grid-column: span 3;
    }
    .deck{
        grid-column: span 3;
    }

}
